.nav-lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem ;
}

.nav-brand{
    margin-bottom: 14px;
}

.lists-item-inline{
    margin-top: 8px;
}

.pro-res-btn{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items:initial;
}

.primary-link{
    margin: 8px;
    text-align: center;
}
.secondary-link{
    margin: 8px;
    text-align: center;
}