body{
    color: rgb(8, 8, 8);
    margin: 0px;
    margin-bottom: 0px;
    font-family: 'Encode Sans SC', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');


/* navigation lists */

.home-link{
    color: white;
    text-decoration: none;
}

.lists{
    list-style: none;
}
.lists2{
    background-color: thistle;
    /* list-style: none; */
}
.lists-item-inline{
    /* list-style: none; */
    display: inline;
    padding: 0rem 0.5rem;
}




/* containers */

.container-center{
    max-width: 330px;
    margin: auto;
    /* padding: 6px; */
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-button{
    max-width: 330px;
    margin: auto;
    padding: 6px;
}




/* navigation  */

.navigation{
    background-color:#49a0eb;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    font-size: xx-large;
    color: white;
}

.nav-brand span{
    font-weight: bolder;
}

.nav-lists{
    text-align: end;
    height: 10px;
    padding-inline-start: 0px;
}




/* navigation links  */

.navigation .link{
    color: white;
}


.link-active{
    font-weight: bolder;
}

.link{
    text-decoration: none;
    padding: 0rem 0.5rem;
    transition: all 0.3s linear;
}

.animated-link{
    display: inline-block;
    position: relative;
    padding: 0;
}

.animated-link:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.animated-link:hover:before{
    visibility: visible;
    width: 100%;
}






/* main logo  */

.hero{
    padding: 0px;
}

.hero .image{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-header{
    color: #5786af;
    padding: 1rem;
    text-align: center;
}

.hero .hero-header .span{
    color: rgba(73,160,235,0.7);
}





/* all sections */

.section h3{
    text-align: center;
}

.section{
    color: rgb(10, 10, 10);
    background-color: #d7e9f8;
    /* width: 85%; */
    max-width: 100%;
    margin-top: 2%;
    /* margin-right: 33%; */
    padding: 2rem;
    border-radius: 2rem;
}
.section:hover{
    background-color: #c7e1fc;
}





/* button link css */

.primary-link{
    background-color: #64b1f5;
    padding: 7px 10px;
    color: white;
    font-size: large;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
} 
.secondary-link{
    padding: 7px 10px;
    color: white;
    font-size: large;
    background-color: #4a88be;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
} 

.primary-link:hover{
    background-color: #202f3d;
}
.secondary-link:hover{
    background-color: #202f3d;
}




/* footer css */

.footer-container{
    margin: auto;
    padding: 6px 0px 0px 0px;
}

.footer{
    background-color: #49a0eb;
    text-align: center;
    padding: 2rem 1rem;
    color: whitesmoke;
    border-top-left-radius: 2rem;
    width: auto;
    font-weight: bold;
    font-size: large;
    color: black;
}

.social-links{
    display: flex;
    justify-content: center;
    padding: 4px;
}

.footer-icon{
    width: 50px;
    transition: all 0.2s linear;
}
.footer-icon:hover{
    width: 55px;
}



/* blog css */

.container-blog-center{
    max-width: 500px;
    margin: auto;
    padding: 6px;
}
.link-blog{
    text-decoration: none;
    color: rgba(73,160,235,0.7);
}
.link-blog:hover{
    color: #202f3d;
}
.blog-para{
    margin-bottom: 3rem;
    
}