body{
    color: rgb(8, 8, 8);
    font-family: 'Fira Sans', sans-serif;
}

h1{
    color: #9CA3AF;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


.link-nav{
    color: black;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 0.5rem;
    background-color: #E5E7EB(19, 218, 125, 0.493);
}
/* .link-active{
    color: rgba(0, 0, 0, 0.918);
    border: 2px solid rgb(41, 39, 39);
    border-radius: 0.5rem;
    background-color: rgba(19, 218, 125, 0.493);
} */

.link{
    text-decoration: none;
    padding: 0rem 0.5rem;
}


.primary-link{
    background-color: #E5E7EB;
    color: rgb(73, 68, 68);
    border: 2px solid black;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.secondary-link{
    border-radius: 0.5rem;
    border: 2px solid gray;
    color:black;
}


.lists{
    list-style: none;
}
.lists2{
    background-color: thistle;
    /* list-style: none; */
}
.lists-item-inline{
    /* list-style: none; */
    display: inline;
    padding: 0rem 0.5rem;
}

.container-center{
    max-width: 300px;
    margin: auto;
    padding: 6px;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-button{
    max-width: 300px;
    margin: auto;
    padding: 6px;
}
.navigation{
    background-color:#9CA3AF;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    font-weight: bold;
    font-size: larger;
    color: black;
    
}
.nav-lists{
    text-align: right;
}
.navigation .link{
    color: rgb(3, 3, 3);
}

.link-active{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero{
    padding: 0px;
    
}

.hero .image{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-header{
    color: rgba(95, 89, 95, 0.829);
    padding: 1rem;
    text-align: center;
}

.hero .hero-header .span{
    color: #9CA3AF;
}

.section h3{
    text-align: center;
}


.section{
    color: rgb(10, 10, 10);
    background-color: #E5E7EB;
    max-width: 100%;
    margin-top: 5%;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.ow{    
    background-color: #E5E7EB;
}

/* .section2{
    color: lavender;
    background-color: rgb(102, 102, 99);
    max-width: 100%;
    margin-top: 5%;
    padding: 2rem;
    
} */


/* .section2 .link-nav{
    margin-right: auto;
} */




.footer{
    background-color: #9CA3AF;    ;
    text-align: center;
    padding: 2rem 1rem;
    color: whitesmoke;
    border-top-left-radius: 2rem;
}
.footer-header{
    color: black;
    font-weight: bold;
    font-size: large;
}
.footer .link{
    font-weight: bolder;
    color:black;
}

.footer ul{
    padding-block-start: 0px;
}

.footer-container{
    margin: auto;
    padding: 6px 0px;
}

.footer-icon{
    width: 50px;
}


.container-blog-center{
    max-width: 500px;
    margin: auto;
    padding: 6px;
}
.link-blog{
    text-decoration: none;
}
.blog-para{
    margin-bottom: 3rem;

}